body {
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

h3 {
    font-size: 25px;
}

.homeDiv {
    /* margin-top: 30%; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .title {
      text-align: center;
      color: white;
  }

  .enterBtn {
    display: flex;
    justify-content: center;
  }

  .enterBtn button {
      background-color: black;
      border: 1px solid white;
      margin-top: 5px;
      padding: 3px;
  }

  .enterBtn a {
    color: white;
    text-decoration: none;
  }

  .contactIcon {
    display: flex;
    justify-content: center;
    margin-top: 120px;
  }

