body {
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

h3 {
    font-size: 25px;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
  }

  a:active {
    color: white;
    text-decoration: none;
  }

  /* ENTER PAGE */

.homeDiv {
    /* margin-top: 30%; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .title {
      text-align: center;
      color: white;
  }

  .enterBtn {
    display: flex;
    justify-content: center;
  }

  .enterBtn button {
      background-color: black;
      border: 1px solid white;
      margin-top: 5px;
      padding: 3px;
  }

  .enterBtn a {
    color: white;
    text-decoration: none;
  }

  .contactIcon {
    display: flex;
    justify-content: center;
    margin-top: 120px;
  }

/* HOME */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}